{% extends "base.html" %}
{% load url from future %}
{% block body %}

    <hr>

    <div class="jumbotron">
        <h1>Visualize References in PubMed Articles</h1>
        <p class="lead">Enter a PubMed ID</p>

        <form class="form-horizontal" action="{% url 'home' %}" method="post">
            {% csrf_token %}

            {% if form.errors %}
                <div class="control-group warning">
                    <ul>
                        {% for field in form %}
                            {% if field.errors %}
                                <span class="help-inline">{{ field.label }}: {{ field.errors|striptags }}</span>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {{ form.non_field_errors }}

            {% for field in form %}
            <div class="control-group">
                {{ field }}
            </div>
            {% endfor %}

            <button class="btn btn-large btn-success" type="submit">Go!</button>

        </form>
    </div>

    <div class="row-fluid marketing">
        <div class="span12">
            <h4>Most Referenced Articles Found So Far</h4>
            <table class="table table-hover">
              {% for article in most_referenced_articles %}
                <tr>
                  <td style="text-align: center; vertical-align: middle">
                    <span class="badge badge-info">{{ article.article_set.count }}</span>
                  </td>
                  <td>
                    <a href="{% url 'view_article' article.pubmed_id %}">{{ article.pubmed_id }}: {{ article.title }}</a></li>
                  </td>
                </tr>
              {% endfor %}
            </table>
        </div>
    </div>
    <hr>
{% endblock %}