{% extends "base.html" %}
{% load url from future %}

{% block body %}
<div>
  <h4>PubMed ID: {{ article.pubmed_id }}</h4>

  <div class="pull-right">
    <form action="{% url 'view_article' article.id %}" method="post">
      {% csrf_token %}
      <input type='hidden' name='refresh' value='1' />

      <button class="btn btn-small btn-success" type="submit">
          <i class="icon-refresh icon-white"></i>
      </button>
    </form>
  </div>
</div>

<h5>{{ article.title }}</h5>

<hr>

<ul>
{% for ref_art in article.referenced_articles.all %}
  <li><a href="{% url 'view_article' ref_art.id %}">{{ ref_art.pubmed_id }}: {{ ref_art.title }}</a></li>
{% endfor %}
</ul>

{% endblock %}